.circleIcon{
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: var( --secMC);
    cursor: pointer;
    animation: flotar 3s ease-in-out infinite;
    z-index: 9999;
}

.circleIcon>img{
    width: 7rem;
}

.newBox{
    height: 70%;
    width: 70%;;
    background-color: var(--priM);
    position: fixed;
    top: 20%;
    left: 13%;
    z-index: 9999;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.newBox::-webkit-scrollbar {
    width: 10px;               
  }
  
  .newBox::-webkit-scrollbar-track {
    background: var(--priM);
    border-radius: 0 10px 10px 0;        
  }
  
  .newBox::-webkit-scrollbar-thumb {
    background-color: var(--primC);    
    border-radius: 20px;       

    border-radius: 0 10px 10px 10;   

  }

@media (max-width:760px) {
    .circleIcon{
        bottom: 3rem;
        right: 3rem;
    } 

    .circleIcon>img{
        width: 5rem;
    }

}

.dactive{
    display: none;
}

.newBox>h2{
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 2rem;
    font-weight: bold;
}

.newBox>h3{
    margin: 0 0 2rem 0;
    color: whitesmoke;
    text-align: center;
}

.newBox>p{
    font-size: 1.5rem;
    color: whitesmoke;
}

.newBox>img{
    width: 100%;
    padding-bottom: 2rem;
}

/*Animaciones*/

@keyframes flotar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

.close{
    font-size: 3rem;
    margin: 0;
    text-align: end;
    color: rgb(194, 5, 5);
    cursor: pointer;
}

.blurNews{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 999;
}

.newsLink{
    text-decoration: none;
    background-color: var(--primC);
    padding: .7rem 2rem;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1.3rem;
}

.list{
    color: whitesmoke;
    font-size: 1.4rem;
}

.list>li{
    padding-bottom: .5rem;
}

.greentitle{
    background-color: var(--terV);
    color: var(--priM);
}