.bannerProgramadoras{
    background:linear-gradient(rgba(5, 7, 12, 0.26),rgba(5, 7, 12, 0.384)), url(../../assets/bannerProgramadoras.jpg) ;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.titleCourse{
    font-size: 4rem;
    margin-top: 3rem;
    text-align: center;
}

.btnProgramadoras{
    background-color: var(--primC);
    border-radius: 20px;
    color: var(--priM);
    padding: 1.3rem;
    margin: 0;
    text-decoration: none;
    transition: .3s;
}

.btnProgramadoras:hover{
    background-color: #663ec4;
    transition: .3s;
}

.subsub{
    font-size: 2.5rem;
    margin: 2rem 0 ;
}