.footerGrid{
    background-color: var(--priM);  
    text-align: center;  
}
.footerGrid>div>img{
    width: 50%;
} 

@media (min-width:760px) {
    .footerGrid{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        gap: 1rem;

    }
    .footerGrid>div>img{
        width: 100%;
    }  
}


.contact{
    margin-top: 5rem;
    padding-left: 5rem;
}

.contact>h2{
    font-size: 3rem;
    color: whitesmoke;   
    margin-bottom: 2rem;
    text-align: left;
}

.contact>p{
    font-size: 1.5rem;
    color: whitesmoke;    
    text-align: left;
}

.contact>p>span{
    color: var(--terV);

}

.redes{
    margin-top: 5rem;
}

.redes>h2{
    font-size: 3rem;
    color: whitesmoke;   
    margin-bottom: 2rem;
}

.redes>p{
    font-size: 1.5rem;
    color: whitesmoke;
}

.red-social>a{
    margin: 0 1rem;

}
